---
import Layout from "../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import ProfileCard from "@/components/ProfileCard.astro";

import Rice from "@/assets/images/schools/rice_university.png";
import UTAustin from "@/assets/images/schools/TEXAS_official_seal.svg";
import ICOL from "@/assets/images/schools/imperial_college_of_london.png";

const images = [
  { img: Rice, href: "https://www.rice.edu/" },
  { img: UTAustin, href: "https://utexas.edu" },
  { img: ICOL, href: "https://www.imperial.ac.uk/" },
];

const people = [
  { name: "Pedro Guzman", role: "President", email: "px.guzman@utexas.edu" },
  { name: "Sam Moran", role: "Vice President", email: "sammoran@utexas.edu" },
  {
    name: "Brendan Lyon",
    role: "Operations Director",
    email: "brendanlyon@utexas.edu",
  },
  { name: "Enoch Zhu", role: "Tech Director", email: "enochzhu@utexas.edu" },
  {
    name: "Daniel Lam",
    role: "Tech Co-Director",
    email: "daniel.w.lam@utexas.edu",
  },
  {
    name: "Dev Shroff",
    role: "R&D Director",
    email: "dev.shroff@utexas.edu",
  },
  { name: "Ali Akbar", role: "Finance Director", email: "aliakbar@utexas.edu" },
  {
    name: "Kabir Muzamdar",
    role: "Civil Engineering Director",
    email: "kabmuzum@utexas.edu",
  },
  {
    name: "Noah Dao",
    role: "Public Relations Director",
    email: "ntd534@my.utexas.edu",
  },
];
---

<Layout title="About">
  <section
    class="px-6 py-10 pt-36 md:px-32 2xl:px-80 relative font-OldStandardTT"
  >
    <div>
      <div class="text-4xl">About Us</div>
      <div class="text-xl pt-10 space-y-6">
        <div>
          The <span class="font-semibold">Sustainable Building Initiative</span>
          (SBI) is a worldwide organization founded by a couple of passionate students
          at the University of Texas at Austin who wish to create accessible, sustainable
          housing solutions for all.
        </div>
        <div>
          As a student organization, SBI aims to <span class="font-semibold"
            >drive innovation in eco-friendly housing and empower future leaders</span
          >
          in engineering, computer science, and business. Our mission is to develop
          sustainable and affordable housing models that serve communities while
          providing hands-on learning opportunities that bridge technical, environmental,
          and economic aspects of sustainable development.
        </div>
        <div>
          Our <span class="font-semibold">vision and goals</span> for SBI in the
          short term are to provide hands-on learning experiences through workshops,
          prototype development, and collaborations with local communities. Long
          term, our goal is to advance sustainable housing projects, develop cutting-edge
          research, and advocate for green building practices that serve society
          and the community.
        </div>
        <div>
          Become a part of our <span class="font-semibold">wide network</span> stretching
          from The University of Texas at Austin, Texas A&M, Imperial College of
          London, and Rice University to gain invaluable skills and be part of a
          mission-driven team that wishes to help shape a more sustainable future
          in housing.
        </div>
      </div>
    </div>
  </section>
  <section class="px-6 py-10 md:px-48 2xl:px-80 relative">
    <div class="flex flex-row justify-center items-center">
      {
        images.map((item) => (
          <a href={item.href} target="_blank">
            <Image
              src={item.img}
              alt={item.href}
              class="w-96 lg:w-80 pt-4 md:pt-0"
              loading={"eager"}
            />
          </a>
        ))
      }
    </div>
  </section>
  <section class="px-6 py-10 md:px-32 2xl:px-80 relative font-OldStandardTT">
    <div class="text-4xl">Meet Our Team</div>
    <div class="flex justify-center">
      <div
        class="pt-10 flex flex-wrap justify-center -mx-4 space-y-8 md:space-y-0 w-3/4"
      >
        {
          people.map((item) => (
            <div class="w-full md:w-1/3 px-4">
              <ProfileCard {...item} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
