---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <body class="">
    <h1 class="text-5xl">Sustainable Building Initiative</h1>
  </body>
</Layout>

<style>
  h1 {
    font-family: OldStandardTT;
  }
</style>
