---
import Layout from "../layouts/Layout.astro";
import AccordionProjects from "@/components/AccordionProjects";
---

<Layout title="Projects">
  <section
    class="px-6 py-10 pt-36 md:px-32 2xl:px-80 relative font-OldStandardTT"
  >
    <div class="text-4xl">Projects</div>
    <div class="text-3xl py-6">Infrastructure Projects</div>
    <div>
      <AccordionProjects client:load />
    </div>
  </section>
</Layout>
