---
import "@/styles/globals.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import Chatbot from "@/components/Chatbot";
import favicon from "@/assets/logos/logo_v2_transparent.png";
import faviconLight from "@/assets/logos/logo_v2_transparent_light.png";

import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}
let darkMode = false;
if (typeof window !== "undefined") {
  darkMode = window.localStorage.getItem("darkMode") === "true";
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Official UTSBI website: Research Driven, Professionally Inspired, and Student Powered."
    />
    <!-- Google Site Verification -->
    <meta
      name="google-site-verification"
      content="kNRqyPtzqZImsFG7njBLFwU5EMA0hIf8vCLOwJYUhLI"
    />
    <!-- SEO -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://utsbi.org" />
    <meta
      property="og:title"
      content="Official UTSBI Website | Research Driven, Professionally Inspired, and Student Powered"
    />
    <meta
      property="og:description"
      content="Discover the innovative research and professional inspiration behind UTSBI. Student-powered solutions for a better tomorrow."
    />
    <!-- Canonical URL -->
    <link rel="canonical" href="https://utsbi.org" />
    <!-- Keywords -->
    <meta
      name="keywords"
      content="Research, Innovation, Education, Student Organization, UTSBI"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="icon"
      type="image/png"
      href={darkMode ? favicon.src : faviconLight.src}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Preload Google Fonts -->
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      onload="this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      />
    </noscript>

    <ClientRouter />
  </head>
  <body class="scrollbar">
    <!-- <div class="fixed bottom-8 right-8 z-50">
      <Chatbot client:only />
    </div> -->
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
